<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Societas | Problem-solving platform</title>
  <link rel="icon" href="img/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <div class="container">
    <h1 class="container__title">Societas</h1>
    <h2 class="container__subtitle">Empower Minds. Transform the World!</h2>
  </div>
</body>

</html>